<% provide(:title, "会員編集") %>
<div class="container">
	<div class="row">
		<div class="col-xs-8">
			<%= render 'layouts/error_messages', model:@member %>
			<h4>
			  <span class="title"><%= full_name(@member) %>さんの会員情報編集</span>
			</h4>
		</div>
		<%= form_for(@member, url: admin_member_path) do |f| %>
			<div class="col-xs-8">
				<table class="table list">
					<tr>
						<th>会員ID</th>
						<td><%= @member.id %></td>
					</tr>
					<tr>
						<th>氏名</th>
						<td>
							<%= f.text_field :last_name, :size=>"8", autofocus:true %>
							<%= f.text_field :first_name, :size=>"8" %>
						</td>
					</tr>
					<tr>
						<th>フリガナ</th>
						<td>
							<%= f.text_field :last_name_kana, :size=>"8" %>
			    		<%= f.text_field :first_name_kana, :size=>"8" %>
						</td>
					</tr>
					<tr>
						<th>郵便番号</th>
						<td><%= f.text_field :postal_code, :size=>"8" %></td>
					</tr>
					<tr>
						<th>住所</th>
						<td><%= f.text_field :address, :size=>"40" %></td>
					</tr>
					<tr>
						<th>電話番号</th>
						<td><%= f.text_field :phone_number, :size=>"20" %></td>
					</tr>
					<tr>
						<th>メールアドレス</th>
						<td><%= f.text_field :email, :size=>"20" %></td>
					</tr>
					<tr>
						<th>会員ステータス</th>
						<td>
							<div class="edit-radio-button"><!--有効・退会済みのポッチ-->
						    <% label :is_deleted, "有効", value: false %>
						    <%= f.radio_button :is_deleted, false %>有効
					  	</div>
						  <div class="edit-radio-button">
						    <% label :is_deleted, "退会済み", value: true %>
						    <%= f.radio_button :is_deleted, true %>退会済み
						  </div>
						</td>
					</tr>
				</table>
			</div>
			<div class="col-xs-8">
				<%= f.submit '変更を保存する', class: "btn btn-primary btn-sm" %><!--変更を保存するボタン-->
			</div>
		<% end %>
	</div>
</div>