<% provide(:admin, "yes") %><% provide(:title, "会員編集") %>
<%= form_for(@member, url: admin_member_path) do |f| %>
<div class="bootstrap大きさ">
	<label for="member_id">会員ID</label>
	<div class="" ><%= @member.id %></div>
</div>
<div class="bootstrap大きさ">
	<label for="name">氏名</label>
	<div class="" >
		<%= f.text_field :last_name, autofocus:true %>
		<%= f.text_field :first_name %>
	</div>
</div>
<div class="bootstrap大きさ">
	<label for="name">フリガナ</label>
	<div class="" >
		<%= f.text_field :last_name_kana %>
		<%= f.text_field :first_name_kana %>
	</div>
</div>
<div class="bootstrap大きさ">
	<label for="name">郵便番号</label>
	<div class="" >
		<%= f.text_field :postal_code %>
	</div>
</div>
<div class="bootstrap大きさ">
	<label for="name">住所</label>
	<div class="" >
		<%= f.text_field :address %>
	</div>
</div>
<div class="bootstrap大きさ">
	<label for="name">電話番号</label>
	<div class="" >
		<%= f.text_field :phone_number %>
	</div>
</div>
<div class="bootstrap大きさ">
	<label for="name">メールアドレス</label>
	<div class="" >
		<%= f.text_field :email %>
	</div>
</div>
<div class="bootstrap大きさ">
	<label for="name">会員ステータス</label>
	<div><!--有効・退会済みのポッチ-->
		<% label :is_deleted, "有効", value: false %>
		<%= f.radio_button :is_deleted, false %>有効
	</div>
	<div>
		<% label :is_deleted, "退会済み", value: true %>
		<%= f.radio_button :is_deleted, true %>退会済み
	</div>
</div>
	<%= f.submit '変更を保存する', class: "" %><!--変更を保存するボタン-->
<% end %>
