<% provide(:title, "会員詳細") %>
<h2>
	<%= full_name(@member) %>さんの会員詳細
</h2>
<div class="bootstrap大きさ">
	<label for="member_id">会員ID</label>
	<div class="" ><%= @member.id %></div>
</div>
<div class="bootstrap大きさ">
	<label for="name">氏名</label>
	<div class="" >
		<%= full_name(@member) %>
	</div>
</div>
<div class="bootstrap大きさ">
	<label for="name">フリガナ</label>
	<div class="" >
		<%= full_name_kana(@member) %>
	</div>
</div>
<div class="bootstrap大きさ">
	<label for="name">郵便番号</label>
	<div class="" >
		<%= @member.postal_code %>
	</div>
</div>
<div class="bootstrap大きさ">
	<label for="name">住所</label>
	<div class="" >
		<%= @member.address %>
	</div>
</div>
<div class="bootstrap大きさ">
	<label for="name">電話番号</label>
	<div class="" >
		<%= @member.phone_number %>
	</div>
</div>
<div class="bootstrap大きさ">
	<label for="name">メールアドレス</label>
	<div class="" >
		<%= @member.email %>
	</div>
</div>
<div class="bootstrapレイアウト">
	<%= link_to "編集する", edit_admin_member_path(@member.id), class: "" %>
	<%= link_to "注文履歴一覧を見る", admin_orders_path, class: "" %>
	<!--注文履歴一覧を見るボタン-->
</div>
