<!--エラーメッセージ入れる-->
<div class = "row">
	<h2>商品新規登録</h2>
</div>

<div class = "row">
	<%= form_for(@item, url:'/admin/items') do |f| %>
		<div class = "col-md-3">
			<div class = "field">
				<%= f.attachment_field :item_image %>
			</div>
		</div>

		<div class = "col-md-6">
			<dl>
				<div class = "field">
					<dt>商品名</dt>
					<dd><%= f.text_field :name %></dd>
				</div>
				<div class = "field">
					<dt>商品説明</dt>
					<dd><%= f.text_area :explanation %></dd>
				</div>
				<div class = "field">
					<!--ネットのcollection_selectの書き方写経してみた。表示は問題なし-->
					<dt>ジャンル</dt>
					<dd><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--", style:"width:200px" %></dd>
				</div>
				<div class = "field">
					<dt>税抜価格</dt>
					<dd><%= f.text_field :price %>円</dd>
				</div>
				<div class = "field">
					<dt>販売ステータス</dt>
					<dd><%= f.select :is_saled, [["売り切れ", false],["販売中", true]], include_blank: "--選択してください--", style:"width:200px"%></dd>
				</div>
			</dl>
		</div>
		<div class = "col-md-3 pull-left">
			<div class = "btn-down">
				<%= f.submit "新規登録", class:"btn btn-primary", style:"width:150px;height:50px;font-size:17px;font-weight:bold;" %>
			</div>
		</div>
	<% end %>
</div>