<div class = "container">
	<!--エラーメッセージ入れる-->
	<div class = "row">
		<div class = "col-md-4">
			<div class = "field">
				<%= attachment_image_tag @item, :item_image, :fill, 100, 60, format:'jpeg', class:"item-img", fallback:"no_image.jpg" %>
				<!--no_imageのjpeg入れたassetに-->
			</div>
		</div>

		<div class = "col-md-8">
			<dl>
				<dt class = "item-name">商品名</dt>
				<dd><%= @item.name %></dd>
				<dt class = "item-explanation">商品説明</dt>
				<dd><%= @item.explanation %></dd>
				<dt class = "item-genre">ジャンル</dt>
				<dd><%= @item.genre.name %></dd>
				<dt class = "item-price">税込価格(税抜価格)</dt>
				<dd><%= @item.price %></dd>
				<dt class = "item-saled">販売ステータス</dt>
				<dd>
					<% if @item.is_saled == false %>
						<p>販売停止中</p>
					<% else %>
					    <p>販売中</p>
					<% end %>
				</dd>
			</dl>
			<%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-primary" %>
		</div>
	</div>
</div>