<div class = "container">
	<!--エラーメッセージ入れる-->
	<div class = "row">
		<div class = "col-md-4">
			<div class = "field">
				<%= attachment_image_tag @item, :item_image, :fill, 100, 60, format:'jpeg', class:"item-img", fallback:"no_image.jpg" %>
				<!--no_imageのjpeg入れたassetに-->
			</div>
		</div>

		<div class = "col-md-8">
			<lavel class = "item-name"><p>商品名<%= @item.name %></p></lavel>
			<lavel class = "item-explanation"><p>商品説明<%= @item.explanation %></p></lavel>
			<lavel class = "item-genre"><p>ジャンル<%= @item.genre.name %></p></lavel>
			<lavel class = "item-price">
				<p>税込価格(税抜価格)<%= @item.price %></p></lavel>
			<lavel class = "item-saled"><p>販売ステータス
				<% if @item.is_saled == false %>
					<p>販売停止中</p>
				<% else %>
				    <p>販売中</p>
				<% end %></p>
			</lavel>
			<%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-primary" %>
		</div>
	</div>
</div>