<% provide(:title, "パスワード再設定") %>
<div class="row">
  <div class="col-xs-12" >
      <div class="page-guide" >
        <span>パスワード再設定</span>
      </div>
        <%= form_for(resource, as: resource_name, url: member_password_path, html: { method: :put }) do |f| %>
          <%= render "members/shared/error_messages", resource: resource %>
            <div class="member-form">
                <table>
                  <tr>
                    <td><%= f.label :email %></td>
                    <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
                  </tr>
                  <tr>
                    <td><%= f.label :"新しいパスワード(#{@minimum_password_length}文字以上)" %></td>
                    <td><%= f.password_field :password, autocomplete: "new-password" %></td>
                  </tr>
                  <tr>
                    <td><%= f.label :"新しいパスワード（確認用）" %></td>
                    <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
                  </tr>
                  <tr>
                    <td><%= f.label :current_password %></td>
                    <td><%= f.password_field :current_password, autocomplete: "current-password" %></td>
                  </tr>
                </table>
            </div>
            <div class="actions wide-btn">
              <%= f.submit "変更を保存", class: "btn btn-success center-block" %>
            </div>
        <% end %>
    </div>
</div>
