<% provide(:admin, "yes") %><% provide(:title, "注文詳細") %>
<div class = "row">
	<div class = "col-md-12">
		<h3>注文履歴詳細</h3>

		<table class = "table table-hover">
			<tr>
				<th>購入者</th>
				<td>
					<%= link_to admin_member_path(@order.member) do %>
					<%= full_name(@order.member) %>
					<% end %>
				</td>
			</tr>
			<tr>
				<th>配送先</th>
				<td><p>〒<%= @order.postal_code %><%= @order.address %></p></td>
			</tr>
			<tr>
				<th>支払方法</th>
				<td><%= @order.payment_method %></td>
			</tr>
			<tr>
				<th>注文ステータス</th>
				<%= form_for @order, url:admin_order_path(@order.id) do |f| %>
					<td><%= f.select :order_status, Order.order_statuses.keys %></td>
					<td><%= f.submit "更新", class:"btn btn-primary" %></td>
				<% end %>
			</tr>
		</table>
	</div>
</div>

<div class = "row">
	<div class = "col-md-8">
		<table class = "table table-hover">
			<tr>
				<th>商品名</th>
				<th>単価(税込)</th>
				<th>数量</th>
				<th>小計</th>
				<th>製作ステータス</th>
			</tr>

			<% @order.order_items.each do |order_item| %>
				<tr>
					<td><%= order_item.item.name %></td>
					<td><%= order_item.order_price %></td>
					<td><%= order_item.amount %></td>
					<td><%= subtotal_price(order_item) %></td>
					<%= form_for(order_item, url: admin_order_items_path(order_item)) do |f| %>
					<td><%= f.select :making_status, OrderItem.making_statuses.keys %></td>
					<td><%= f.submit"更新", class:"btn btn-primary" %></td>
					<% end %>
				</tr>
			<% end %>
		</table>
	</div>


	<div class = "col-md-4">
		<table class = "table table-hover">
			<tr>
				<th>商品合計</th>
				<td><%= total_price(@order.order_items) %></td>
			</tr>
			<tr>
				<th>送料</th>
				<td><%= @order.postage %>円</td>
			</tr>
			<tr>
				<th>請求額合計</th>
				<td><%= @order.billing_amount %></td>
			</tr>
		</table>
	</div>
