<% provide(:title, "注文詳細") %>


<div class = "row">
	<div class = "head-box">
		<div class = "col-md-8 col-md-offset-1">
			<div class = "headbox">
				<h3>注文履歴詳細</h3>
			</div>
			<table>
				<tr>
					<th>購入者</th>
					<td>
						<%= link_to admin_member_path(@order.member) do %>
						<%= full_name(@order.member) %>
						<% end %>
					</td>
				</tr>
				<tr>
					<th>配送先</th>
					<td><p>〒<%= @order.postal_code %><%= @order.address %></p></td>
				</tr>
				<tr>
					<th>支払方法</th>
					<td><%= @order.payment_method %></td>
				</tr>
				<tr>
					<th>注文ステータス</th>
					<td id = "order-status">
						<%= render 'admin/orders/order-status', order: @order %>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>


<div class = "row">
	<div class = "left-box">
		<div class = "col-md-7 col-md-offset-1">
			<table = width="600">
				<tr>
					<th>商品名</th>
					<th>単価(税込)</th>
					<th>数量</th>
					<th>小計</th>
					<th>製作ステータス</th>
					<th></th>
				</tr>

				<% @order.order_items.each do |order_item| %>
					<tr>
						<td><%= order_item.item.name %></td>
						<td><%= order_item.order_price.to_s(:delimited) %></td>
						<td><%= order_item.amount %></td>
						<td><%= subtotal_price(order_item).to_s(:delimited) %></td>
						<%= form_for(order_item, url: admin_order_items_path(order_item)) do |f| %>
						<td><%= f.select :making_status, OrderItem.making_statuses.keys %></td>
						<td><%= f.submit"更新", class:"btn btn-primary" %></td>
						<% end %>
					</tr>
				<% end %>
			</table>
		</div>
	</div>

	<div class = "right-box">
		<div class = "col-md-3">
			<table>
				<tr>
					<th>商品合計</th>
					<td><%= total_price(@order.order_items).to_s(:delimited) %>円</td>
				</tr>
				<tr>
					<th>送料</th>
					<td><%= @order.postage.to_s(:delimited) %>円</td>
				</tr>
				<tr>
					<th>請求額合計</th>
					<td><%= @order.billing_amount.to_s(:delimited) %>円</td>
				</tr>
			</table>
		</div>
	</div>
</div>
