<tr>
	<td>
    <%= attachment_image_tag cart_item.item, :item_image, :fill, 50, 50, format: 'jpg', fallback: "no_image2.jpg", size: "50x50" %><br>
	</td>
	<td><%= cart_item.item.name %></td>
	<td><%= tax_include(cart_item.item.price).to_s(:delimited) %></td>
	<td>
		<%= form_for cart_item, url: "/members/cart_items/#{cart_item.id}", remote: true do |f| %>
		<%= f.number_field :amount, in: 0..50 %>
		<%= f.submit '変更', class: "btn btn-primary", id:"cart-count-#{cart_item.id.to_s}" %>
		<% end %>
	</td>
	<td><%= subtotal_price(cart_item).to_s(:delimited) %></td>
	<td>
		<%= link_to '削除する', members_cart_item_path(cart_item), method: :delete,
		data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger center-block" %>
	</td>
</tr>
