<h4>
	<span class="title">ジャンル編集</span>
</h4>
<br>
<br>
<%= form_for(@genre, url: admin_genre_path) do |f| %>
	<div class="genre-field">
		<%= f.label :name, "ジャンル" %>
		<%= f.text_field :name %>
	</div>
	<div class="radio-button1"><!-- 有効・無効のポッチ -->
		<% label :is_valid, "有効", value: true %>
		<%= f.radio_button :is_valid, true %>有効
	</div>
	<div class="radio-button2">
		<% label :is_valid, "無効", value: false %>
		<%= f.radio_button :is_valid, false %>無効
	</div>
	<%= f.submit '変更を保存する', class: "btn btn-primary btn-sm" %><!--変更を保存するボタン-->
<% end %>