<% provide(:title, "商品一覧") %>
<div class="row">
  <div class="col-sm-3 col-md-2">
    <%= render 'items/genres_box', genres: @genres %>
  </div>
  <div class="col-sm-9 col-md-10">
    <div class="item-index-title">
      <% unless @genre %>
        <h1>商品一覧 <span>(全<%= @count %>件)</span></h1>
      <% else %>
        <h1><%= @genre.name %>一覧 <span>(全<%= @count %>件)</span></h1>
      <% end %>
    </div>
    <div class="item-index row">
      <%= render 'items/item_index', items: @items %>
    </div>
    <div class="row">
      <div class="col-xs-12 center-align">
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>