<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<h3>マイページ</h3>
		<div class="row info-title">
			<div class="pull-left">登録情報</div>
			<div class="pull-left">
				<%= link_to '編集する', edit_members_path, class: "btn btn-primary" %>
			</div>
			<div class="pull-left">
				<%= link_to 'パスワードを変更する', "#", class: "btn btn-primary" %>
			</div>
		</div>
		<div class="row">
			<table>
				<tr>
					<td>氏名</td>
					<td><%= @member.first_name %> <%= @member.last_name %></td>
				</tr>
				<tr>
					<td>カナ</td>
					<td><%= @member.first_name_kana %> <%= @member.last_name_kana %></td>
				</tr>
				<tr>
					<td>郵便番号</td>
					<td><%= @member.postal_code.to_s.insert(3, "-") %></td>
				</tr>
				<tr>
					<td>住所</td>
					<td><%= @member.address %></td>
				</tr>
				<tr>
					<td>電話番号</td>
					<td><%= @member.phone_number %></td>
				</tr>
				<tr>
					<td>メールアドレス</td>
					<td><%= @member.email %></td>
				</tr>
			</table>
		</div>
		<div class="row ships-link">
			<div class="pull-left">配送先</div>
			<div class="pull-left">
				<%= link_to '一覧を見る', members_ships_path, class: "btn btn-primary" %>
			</div>
		</div>
		<div class="row orders-link">
			<div class="pull-left">注文履歴</div>
			<div class="pull-left">
				<%= link_to '一覧を見る', members_orders_path, class: "btn btn-primary" %>
			</div>
		</div>
		<div class="col-xs-1"></div>
	</div>
</div>