

  <div class="ship-buttons col-xs-offset-1 col-sm-10">
          <%= f.radio_button :choice, 0, checked: true %>
          <%= f.label "ご自身の住所" %>
          <p><%= "#{current_member.postal_code} #{current_member.address}" %></p>
          <p><%= "#{current_member.last_name}#{current_member.first_name}" %></p>

          <%= f.radio_button :choice, 1 %>
          <%= f.label "登録済み住所から選択" %>
          <!-- <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div> -->
          <div class="col-xs-offset-1">
            <%= f.select :ship_id, current_member.ships.collect{|ship| ["#{ship.postal_code} #{ship.address} #{ship.name}", ship.id]} %>
          </div>

        <label>
          <%= f.radio_button :choice, 2 %> 新しいお届け先<br>
            <table>
                  <tr>
                    <td><%= f.label :ship_postal_code, "郵便番号(ハイフンなし)" %></td>
                    <td><%= f.text_field :ship_postal_code %></td>
                  </tr>
                  <tr>
                    <td><%= f.label :ship_address, "住所" %></td>
                    <td><%= f.text_field :ship_address %></td>
                  </tr>
                  <tr>
                    <td><%= f.label :ship_name, "宛名" %></td>
                    <td><%= f.text_field :ship_name %></td>
                  </tr>
            </table>
        </label><br>
        <%= f.submit "確認画面へ進む", class:"btn btn-info" %>
  </div>
