

  <div class="ship-buttons col-xs-offset-1 col-sm-10">
          <%= f.radio_button :choice, 0, checked: true %>
          <%= f.label "ご自身の住所" %>
          <p><%= "#{full_address(current_member)}" %></p>
          <p><%= "#{full_name(current_member)}" %></p>

          <%= f.radio_button :choice, 1 %>
          <%= f.label "登録済み住所から選択" %>
          <div class="col-xs-offset-1">
            <%= f.select :ship_id, current_member.ships.collect{
                |ship| ["#{full_address(ship)} #{ship.name}", ship.id]} %>
          </div>

        <label>
          <%= f.radio_button :choice, 2 %> 新しいお届け先<br>
            <table>
                  <tr>
                    <td><%= f.label :ship_postal_code, "郵便番号(ハイフンなし)" %></td>
                    <td><%= f.text_field :ship_postal_code %></td>
                  </tr>
                  <tr>
                    <td><%= f.label :ship_address, "住所" %></td>
                    <td><%= f.text_field :ship_address %></td>
                  </tr>
                  <tr>
                    <td><%= f.label :ship_name, "宛名" %></td>
                    <td><%= f.text_field :ship_name %></td>
                  </tr>
            </table>
        </label><br>
        <%= f.submit "確認画面へ進む", class:"btn btn-info" %>
  </div>

  <!-- <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <%# current_member.ships.each do |ship| %>
            <li role="presentation"><%#= "#{ship.postal_code} #{ship.address} #{ship.name}" %></li>
        <%# end %>
    </ul>
  </div> -->
