<div class="row">
  <div class="col-xs-12" >
		<div class="page-title">
			<span>配送先登録 / 一覧</span>
		</div>
		<%= form_for @ship, url: '/members/ships' do |f| %>
			<div class="ship-form">
				<table>
					<tr>
						<td><%= f.label :postal_code,"郵便番号(ハイフンなし)" %></td>
						<td><%= f.text_field :postal_code, class: "postal_code" %></td>
					</tr>
					<tr>
						<td><%= f.label :address,"住所" %></td>
						<td colspan="2"><%= f.text_field :address, class: "address" %></td>
					</tr>
					<tr>
						<td><%= f.label :name,"宛名" %></td>
						<td><%= f.text_field :name, class: "name" %></td>
						<td></td>
						<td>
							<%= f.submit "登録する", class: "btn btn-success", id: "ship-submit" %>
						</td>
					</tr>
				</table>
			</div>
		<% end %>
		<!-- ships一覧 -->
		<div class="row">
			<div class="ships-index col-xs-12">
				<table class=" table-bordered">
					<thead>
						<tr>
							<th>郵便番号</th>
							<th>住所</th>
							<th>宛名</th>
							<th colspan="2"></th>
						</tr>
					</thead>
					<tbody>
						<% if @ships.present? %>
							<% @ships.each do |ship| %>
								<%= render 'member/ships/ship', ship: ship %>
							<% end %>
						<% else %>
						 <tr>
						 	<td colspan="5">登録された配送先はありません</td>
						 </tr>
					 <% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>